* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

body {
  background-color: rgb(247, 247, 247);
}

.header-container {
  background-color: #5C687C;
  display: flex;
}

.logo-container {
  display: flex;
  justify-content: center;
  flex-basis: 268px; /*Exercicio 1 - adicionar flex basis nos items do header*/
  order: -1; /*Exercicio 2 - adicionar a propriedade order para deixar o logo antes dos items do menu*/
}

.menu-container {
  display: flex;
  flex-basis: 500px; /*Exercicio 1 - adicionar flex basis nos items do header*/
  flex-grow: 1; /*Exercicio 3 - o flex grow para que os elementos ocupem toda a largura do container */
}

.menu-container ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.menu-container li {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  list-style: none;
  margin-right: 10px;
  align-self: center; /*Exercicio 4 - usar o align self para que todos os li's centralizem no cross axys*/
}