* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(17, 16, 16);
  background-color: rgb(0, 0, 0);
  font-family: monospace;
  font-size: 16px;
  line-height: 1.3;
}

.form {
  background-color: rgb(246, 247, 248);
  border: 1px solid rgb(214, 217, 220);
  border-radius: 3px;
  width: 80%;
  margin: 15px auto;
  padding: 30px;
}

input[type=text], input[type=email], select, textarea {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(88, 88, 88);
  border-radius: 4px;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  margin: 5px 0;
}

.legend-field {
  margin: 20px;
  padding: 10px;
}

.enviar, .limpar{
  padding: 5px;
  color: white;
  border-radius: 4px;
  border: none;
}
.enviar{
  background-color: rgb(8, 96, 151);
}

.limpar{
  background-color: rgb(248, 66, 66);
}

.buttons {
  text-align: center;
}

.buttons button {
  margin: 0 6px;
}

p {
  margin: 4px 0;
}